server:
  port: 8082

spring:
  application:
    name: AUTH-SERVICE

  datasource:
    url: jdbc:postgresql://postgres:5432/auth_db
    username: postgres
    password: Bunny@120

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://discoveryserver:8761/eureka/

jwt:
  secret: shopsphere-auth-secret-key-12345678901234567890
