server:
  port: 8086

spring:
  application:
    name: ORDER-SERVICE

  datasource:
    url: jdbc:postgresql://postgres:5432/order_db
    username: postgres
    password: Bunny@120

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://discoveryserver:8761/eureka/
  instance:
    prefer-ip-address: true
